/*
    Colors 

    #264653 // dark blue
    #2a9d8f // green
    #e9c46a // yellow
    #f4a261 // orange
    #e76f51 // dark orange
    #fffef5 // white
*/

html {
    font-family: 'Mingzat', sans-serif;
    background-color: #fffef5;
    color:#264653;
}

.container, footer {
    padding: 1rem;
}

header {
    margin-bottom: 1rem;
}

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0.5rem;
}

h1 {
    color: #264653;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: #e76f51;
    text-decoration: none;
}

a:hover {
    color: #f4a261;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

footer {
    background-color: #264653;
    color: #fffef5;
}

header .main-nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

header .main-nav ul li {
    list-style: none;
}

header .main-nav ul li 